[submodule "03_symbolic_execution/symcc_amp"]
	path = 03_symbolic_execution/symcc_amp
	url = https://github.com/amp-fuzz/symcc_amp.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
