[submodule "llvm_mode/libcxx/llvm"]
	path = llvm_mode/libcxx/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "symcc_amp"]
	path = symcc_amp
	url = https://github.com/amp-fuzz/symcc_amp.git
